@import './vars';

body {
    max-width: 100vw;
    margin: 0;
    font-family: $font-family-main;
    font-style: normal;
}

p, h1,h2, ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: $font-color-white;
}

.active {
    .form__select-content {
        display: block;
    }
    .form__select-button i {
        transform: rotate(-45deg);
    }
    .burger__menu {
        display: block !important;
    }
    .burger__header span {
        opacity:0; 
        transition: 0.5s; 
    }
    .burger__header:before {
        transform: rotate(38deg);
        top: 15px !important;
        transition: 0.4s;
    }
    .burger__header:after {
        transform: rotate(-38deg);
        bottom: 17px !important;
        transition: 0.4s;
    }
}

.selected {
    color: $font-color-blue;
}